<!DOCTYPE html>
<html>
    <head>
        <base href="{{ '/' | url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
        <title>abelhii</title>
        <link rel="shortcut icon" href="{{ faviconURL }}" type="image/x-icon">
        <link rel="icon" href="{{ faviconURL }}" type="image/x-icon">

        <link href="https://fonts.googleapis.com/css?family=Muli|Playfair+Display|Quicksand|Comfortaa&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ styleURL }}">

        {% if extraStyle %}
            <link rel="stylesheet" href="{{ extraStyle }}">
        {% endif %}
    </head>

    <body>

        {{ content | safe }}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"></script>
        <!-- Greensock -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js"></script>
    </body>
</html>