---
layout: base.njk
faviconURL: ../../assets/favicon/favicon.ico
styleURL: ../../style.css
extraStyle: ../project.css
---

<div class="project">
    <a href="../../">home</a>
    <div class="title">
        {{ projectTitle }}
    </div>
    
    {% if headerImg %}
    <div class="headerImg">
        <img src="{{ headerImg }}">
    </div>
    {% endif %}
    
    <div>
        {{ content | safe }}
    </div>
</div>