.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60ch;
    margin: auto;
    padding: 4rem 0;
}

.post .title {
    font-weight: 600;
}

.post img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding-top: 1em;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--inverse-text-color);
    background: var(--primary-color);
}

.nextProj, .prevProj {
    padding: 4em 6em;
    transition: linear;
}

.prevProj:hover {
    animation: move-left infinite 0.85s;
}

.nextProj:hover {
    animation: move-right infinite 0.85s;
}

@media (max-width: 1024px) {
    .nextProj, .prevProj {
        padding: 4em 4em;
    }
}

@media (max-width: 700px) {
    .project {
        padding: 2rem;
    }
    
    .project img {
        max-height: 200px;
    }
    
    .footer h2 {
        display: none;
    }
    
    .nextProj, .prevProj {
        padding: 4em 1em;
    }
}

@keyframes move-left {
    0% { transform: translateX(0); }
    50% { transform: translate(1.5em); }
    100% { transform: translate(0); }
}

@keyframes move-right {
    0% { transform: translateX(0); }
    50% { transform: translate(1.5em); }
    100% { transform: translate(0); }
}