.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--fourth-color);
    background-color: var(--secondary-color);
}

.contact .title {
    text-align: center;
}

.contact .content {
    display: grid;
    column-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-size: var(--title-font-size);
}

.contact .content a {
    font-size: 2em;
    color: var(--fourth-color);
}

/* MEDIA QUERIES */

/* For tablets and lower */
@media (max-width: 768px) {
    .contact .content {
        column-gap: 1em;
    }

    .contact .content a {
        font-size: 1.5em;
    }
}

/* For phones and lower */
@media (max-width: 425px) {
    .contact .content a {
        font-size: 1em;
    }
}