---
layout: base.njk
faviconURL: ../../assets/favicon/favicon.ico
styleURL: ../../style.css
extraStyle: ../../styles/post.css

pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---

<div class="post">
    <a href="../../" style="margin-bottom: 1rem;">🏡 home</a>
    <div class="title">
        All posts tagged “<span style="color: var(--third-color);">{{ tag }}</span>”
    </div>

    <div class="projects">
        {% set taglist = collections[tag] %}
        {% for project in taglist | reverse %}
            <article>
                <img src="{{ project.data.headerImg }}">
                <h2>{{ project.data.projectTitle }}</h2>
                <time datetime="{{ project.date | dateIso }}">{{ project.date | dateReadable }}</time>

                <p>
                    {% excerpt project %}
                </p>

                <div class="tags">
                    <i class="fas fa-tags"></i>
                    {% for tag in project.data.tags %}
                        <a class="tag" href="{{'/tags/' + tag | url}}">{{ tag }}</a>
                    {% endfor %}
                </div>
                <a class="read-more" href="{{ project.url | url }}" aria-label="Read more on {{ project.data.title }}">Read more</a>
            </article>
        {% endfor %}
    </div>
</div>