---
layout: base.njk
faviconURL: assets/favicon/favicon.ico
styleURL: style.css

pagination:
  data: collections.project
  size: 10
  reverse: true
  alias: projects
---
<div class="container">
    <div class="header section"></div>
    <div id="about" class="about section" data-hash="about"></div>
    <div id="portfolio" class="portfolio section" data-hash="portfolio">
        <div class="section-padding">
            <div class="title">
                <h3>Here are some things.</h3>
            </div>
            <div class="projects">
                {% for project in projects %}
                    <article>
                        <img src="{{ project.data.headerImg }}">
                        <h2>{{ project.data.projectTitle }}</h2>
                        <time datetime="{{ project.date | dateIso }}">{{ project.date | dateReadable }}</time>

                        <p>
                            {% excerpt project %}
                        </p>

                        <div class="tags">
                            <i class="fas fa-tags"></i>
                            {% for tag in project.data.tags %}
                                <a class="tag" href="{{'/tags/' + tag | url}}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        <a class="read-more" href="{{ project.url | url }}" onclick="firebase.analytics().logEvent('read_more', { post: '{{ project.data.projectTitle }}' });" aria-label="Read more on {{ project.data.projectTitle }}">
                            Read more
                        </a>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="contact" class="contact section" data-hash="contact"></div>

    <!-- Navigation -->
    <div class="navigation">
        <ul>
            <li>
                <a href="#about">about</a>
            </li>
            <li>
                <a href="#portfolio">portfolio</a>
            </li>
            <li>
                <a href="#contact">contact</a>
            </li>
        </ul>
    </div>
</div>
<script type="module" src="main.mjs"></script>