@import './styles/helpers.css';
@import './styles/nav.css';
@import './styles/abelavatar.css';
@import './sections/header/header.css';
@import './sections/about/about.css';
@import './sections/portfolio/portfolio.css';
@import './sections/contact/contact.css';

/* https://paletton.com/#uid=34b0u0kvou7jGB6oXvWxjnMDviB */
:root {
    --primary-color: #3317A6;
    --secondary-color: #FEFB38;
    --third-color: #24ba78;
    --fourth-color: #FF00A1;
    --text-color: #444444;
    --inverse-text-color: #dddddd;
    --link-color: #24badd;
    --title-font-size: 48px;
    --lg-font-size: 32px;
    --font-size: 24px;
    --md-font-size: 20px;
    --sm-font-size: 16px;
}

html,
body {
    font-family: 'Muli';
    font-size: var(--font-size);
    color: var(--text-color);
    margin: 0;
    overflow-x: hidden;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #1e8ea7;
}

.title {
    position: relative;
    font-size: var(--title-font-size);
}

.subtitle {
    font-size: var(--lg-font-size);
}

.content {
    font-size: var(--lg-font-size);
    padding: 0rem 2rem;
}

.section {
    height: 100vh;
}

.section-padding {
    padding: 4rem 16rem;
}

/* MEDIA QUERIES */

/* For laptops and lower */
@media (max-width: 1024px) {
    .section-padding {
        padding: 4rem 8rem;
    }
}

/* For tablets and lower */
@media (max-width: 768px) {
    .title {
        font-size: var(--lg-font-size);
    }

    .subtitle {
        font-size: var(--lg-font-size);
    }

    .content {
        font-size: var(--font-size);
    }

    .section-padding {
        padding: 2rem 4rem;
    }
}

/* For phones and lower */
@media (max-width: 425px) {
    .section-padding {
        padding: 1rem 2rem;
    }
}