.card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 500ms;
  border-radius: inherit;
  background: radial-gradient(
    500px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.08),
    transparent 40%
  );
}

.card:hover:before {
  opacity: 1;
}
